<app-navbar class="navbar"></app-navbar>

<div class="container-homepage" id="homepage">
  <img src="../../assets/hero.jpg">

  <h1 class="main-text">
      <span>Besoin d'un artisan</span><p><span class="plombier">plombier </span> <span class="dash">/ </span><span class="chauffagiste"> chauffagiste ?</span></p>
  </h1>
  <h2  class="sous-texte">
      <span>Ne cherchez plus, vous êtes sur le bon site !</span>
  </h2>
  <button type="button" class="btn btn-outline-info btn-homepage" onClick="document.getElementById('contact').scrollIntoView();">
    Contactez-nous
  </button>
</div>

<app-services id="services"></app-services>

<app-socialproof id="avis"></app-socialproof>

<app-aboutus id="about"></app-aboutus>

<app-contact id="contact"></app-contact>



<div class="container-img-footer">
  <a class="nav-link" onClick="document.getElementById('homepage').scrollIntoView();"><mat-icon>keyboard_capslock</mat-icon></a>
</div>

